@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@100&family=Source+Sans+Pro:wght@700&display=swap');

:root {
  --theme-color: #E23744;
  --primary-font-size: 18px;
  --secondary-font-size: 16px;
  --primary-font-family: 'Source Sans Pro';
  --secondary-font-family: 'Poppins';
  --tertiary-font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  
}

a {
  color: inherit;
  text-decoration: none;
}


